@charset "utf-8";

body{
	font-family: sans-serif;
	color: white;
}
@media screen and (min-width: 0px){
	.container{
		width: 100%;
		height: 100vh;
		display: table;
		background: #0f3443;
		background: -webkit-linear-gradient(to bottom left, #34e89e , #0f3443);
		background: linear-gradient(to bottom left, #34e89e , #0f3443);
		position: relative;
	}
	.center{
		
  		vertical-align: middle;
		display: table-cell;
	}
	.box{
		width: 300px;
		height: auto;
		margin: 0 auto;
		background: none;
		padding: 20px;
		box-sizing: border-box;
	}
	.box h1{
		text-align: center;
		font-size: 24px;
	}
	input[type=number]{
		width: 100%;
		height: 40px;
		padding: 10px;
		color: white;
		box-sizing: border-box;
		line-height: 40px;
		background: none;
		border: none;
		border-bottom: solid 2px rgba(255, 255, 255,0.5);
		font-size: 16px;
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}
	::-webkit-input-placeholder,input[placeholder], [placeholder], *[placeholder] {
		color: rgba(255,255,255,0.5);
	}
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button
	{
	  -webkit-appearance: none;
	  margin: 0;
	}
	input:focus { 
	    outline: 0;
	}
	button{
		width: 100%;
		height: 40px;
		padding: 10px;
		box-sizing: border-box;
		font-weight: bold;
		color: white;
		background: red;
		border: none;
		cursor: pointer;
		opacity: 0.7;
	}
	button:hover{
		transition: 0.5s;
		opacity: 1;
	}

	.InputMoney{
		margin-bottom: 20px;
		float: left;
		text-align: right;
		color: red;
	}
	.Currency{
		float: left;
		height: 40px;
		line-height: 40px;
		margin-left: 10px;
	}
	.Con-Exchanged{
		clear: both;
	}
	.Exchanged{
		text-align: right;
		width: 100%;
		height: 50px;
		line-height: auto;
		float: left;
		font-size: 32px;
		margin-bottom: 20px;
		overflow-x: auto;
		overflow-y: hidden; 
		color: #34e89e;
		color: -webkit-linear-gradient(to bottom left, #34e89e , #0f3443);
		color: linear-gradient(to bottom left, #34e89e , #0f3443);
	}
	.Exchanged::-webkit-scrollbar-track
	{
		background-color: none;
	}

	.Exchanged::-webkit-scrollbar
	{
		width: 3px;
		height: 5px;
		background-color: rgba(255, 255, 255,0.1);
		border-radius: 100px;

	}

	.Exchanged::-webkit-scrollbar-thumb
	{
		background-color: #34e89e;
		cursor: pointer;
	}

	.Exchanged input{
		border: none;
		height: 50px;
		line-height: 50px;
		font-size: 32px;
	}
	select{
		margin: 0 auto;
		padding: 0;
		text-align: left;
		font-size: 16px;
		font-weight: normal;
		margin-bottom: 20px;
		background: transparent;
		border: none;
		color: white;
	}
	select:focus { 
	    outline: 0;
	}
	option{
		background: #fff;
		color: black;
		padding-right: 10px;
		font-size: 16px;
		border: none;
	}
	option:focus { 
	    outline: 0;
	    border: none;
	}

	footer{
		width: 100%;
		text-align: center;
		clear: both;
		position: absolute;
		bottom: 0px;
		padding: 10px;
		box-sizing: border-box;
	}
	footer p{
		font-size: 12px;
		color: rgba(255,255,255,0.2);
	}
}/*media screen0*/

@media screen and (min-width: 768px){
	.box{
		width: 300px;
	}
}

@media screen and (min-width: 1024px){
	
}